# Grab data with scrapeing modules and save locally for cleaning and processin

In [90]:
import pandas as pd
import itertools

In [3]:
%load_ext autoreload

In [4]:
%autoreload 2

In [43]:
import get_sumo_data as gd
import process_banzuke as pb

In [40]:
sp = gd.get_results(2020, 11)

http://sumodb.sumogames.de/Banzuke.aspx?b=202011&heya=-1&shusshin=-1&snr=on&hl=on&c=on&simple=on

In [42]:
sp.head()

  Rank     Rikishi   W  L Next  year  month
0  Y1e      Hakuho   0  0  Y1e  2020     11
1  Y1w     Kakuryu   0  0  Y1w  2020     11
2  O1e  Takakeisho  13  2  O1e  2020     11
3  O1w   Asanoyama   1  2  O2e  2020     11
4  O2e      Shodai   3  2  O1w  2020     11

In [82]:
sy = gd.get_year(2020)
sy.info()

http://sumodb.sumogames.de/Banzuke.aspx?b=202001&heya=-1&shusshin=-1&snr=on&hl=on&c=on&simple=on
http://sumodb.sumogames.de/Banzuke.aspx?b=202003&heya=-1&shusshin=-1&snr=on&hl=on&c=on&simple=on
http://sumodb.sumogames.de/Banzuke.aspx?b=202005&heya=-1&shusshin=-1&snr=on&hl=on&c=on&simple=on
http://sumodb.sumogames.de/Banzuke.aspx?b=202007&heya=-1&shusshin=-1&snr=on&hl=on&c=on&simple=on
http://sumodb.sumogames.de/Banzuke.aspx?b=202009&heya=-1&shusshin=-1&snr=on&hl=on&c=on&simple=on
http://sumodb.sumogames.de/Banzuke.aspx?b=202011&heya=-1&shusshin=-1&snr=on&hl=on&c=on&simple=on
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3366 entries, 0 to 669
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     3366 non-null   object
 1   Rikishi  3366 non-null   object
 2   W        3366 non-null   int64
 3   L        3366 non-null   int64
 4   Next     3303 non-null   object
 5   year     3366 non-null   int64
 6   month    3366 non-null   object
dtypes: int64(3), object(4)
memory usage: 210.4+ KB

In [81]:
len(sy)

5

In [85]:
sy.head()

  Rank     Rikishi   W   L   Next  year month
0  Y1e      Hakuho   1   3    Y1e  2020    01
1  Y1w     Kakuryu   1   4  Y1wYO  2020    01
2  O1e  Takakeisho  11   4    O1e  2020    01
3  O1w      Goeido   5  10    NaN  2020    01
4  S1e   Asanoyama  10   5    S1e  2020    01

In [87]:
pb.tier_rank(sy.Rank).tail()

665    6
666    6
667    6
668    6
669    6
Name: Rank, dtype: int64

In [101]:
sy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3366 entries, 0 to 669
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     3366 non-null   object
 1   Rikishi  3366 non-null   object
 2   W        3366 non-null   int64
 3   L        3366 non-null   int64
 4   Next     3303 non-null   object
 5   year     3366 non-null   int64
 6   month    3366 non-null   object
dtypes: int64(3), object(4)
memory usage: 210.4+ KB

In [102]:
pb.tier_rank(sy.Next)

TypeError: 'float' object is not iterable