# Grab data with scrapeing modules and save locally for cleaning and processin

In [2]:
import pandas as pd

In [3]:
%load_ext autoreload

In [4]:
%autoreload 2

In [43]:
import get_sumo_data as gd
import process_banzuke as pb

In [40]:
sp = gd.get_results(2020, 11)

http://sumodb.sumogames.de/Banzuke.aspx?b=202011&heya=-1&shusshin=-1&snr=on&hl=on&c=on&simple=on

In [42]:
sp.head()

  Rank     Rikishi   W  L Next  year  month
0  Y1e      Hakuho   0  0  Y1e  2020     11
1  Y1w     Kakuryu   0  0  Y1w  2020     11
2  O1e  Takakeisho  13  2  O1e  2020     11
3  O1w   Asanoyama   1  2  O2e  2020     11
4  O2e      Shodai   3  2  O1w  2020     11

In [ ]:
sy = gd.get_year(2020)
sy.info()

http://sumodb.sumogames.de/Banzuke.aspx?b=202001&heya=-1&shusshin=-1&snr=on&hl=on&c=on&simple=on
http://sumodb.sumogames.de/Banzuke.aspx?b=202003&heya=-1&shusshin=-1&snr=on&hl=on&c=on&simple=on
http://sumodb.sumogames.de/Banzuke.aspx?b=202005&heya=-1&shusshin=-1&snr=on&hl=on&c=on&simple=on
http://sumodb.sumogames.de/Banzuke.aspx?b=202007&heya=-1&shusshin=-1&snr=on&hl=on&c=on&simple=on

In [ ]:
len(sy)