# Scrape Data from sumo db

In this notebook we will use requests, beautiful soup and pandas to scrape banzuke (rankings), hoshitori (tournament results) from sumo db and store locally for further processing

## MVP

for the mvp we only need the rankings and results from the previous two tournaments

### Banzuke format (note that Banzuke_text does not have tournament results - must get from aspx)
sample URL
http://sumodb.sumogames.de/Banzuke.aspx?b=202009

URL template
http://sumodb.sumogames.de/Banzuke.aspx?b=yyyymm

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
url = 'http://sumodb.sumogames.de/Banzuke.aspx?b=202009'

res = requests.get(url)
soup = BeautifulSoup(res.content)
# table = soup.find_all('table')[0] 
# df = pd.read_html(str(table))
# df.head()

In [9]:
a = soup.find_all('table', 'banzuke')
df = pd.read_html(str(a[0]), flavor = 'html5lib')

In [11]:
df[0]

        Result         East Rank          West  Result.1
0       0-0-15       Hakuho    Y       Kakuryu    0-0-15
1         10-5    Asanoyama    O    Takakeisho    12-3 J
2   13-2 YSK ↑       Shodai    S     Mitakeumi       8-7
3       5-10 ↓     Daieisho    S           NaN       NaN
4       4-11 ↓     Okinoumi    K          Endo   3-9-3 ↓
5      8-5-2 ↑   Terunofuji   M1     Takanosho    10-5 ↑
6          6-9   Hokutofuji   M2     Tamawashi      5-10
7          6-9     Myogiryu   M3  Terutsuyoshi      5-10
8        2-6-7   Yutakayama   M4   Tochinoshin       6-9
9        9-4-2   Kiribayama   M5    Takarafuji       7-8
10      10-5 ↑     Takayasu   M6      Kagayaki       8-7
11         6-9       Ryuden   M7       Aoiyama       7-8
12         7-8   Tokushoryu   M8  Wakatakakage      11-4
13         6-9         Enho   M9        Onosho      10-5
14         7-8    Sadanoumi  M10       Kotoeko       8-7
15       5-8-2  Chiyotairyu  M11   Kotoshogiku  2-10-3 ↓
16        10-5    Kotoshoho  M12        Kaisei       7-8
17         9-6       Meisei  M13       Ishiura   4-4-7 ↓
18      11-4 K     Tobizaru  M14           Abi  0-0-15 ↓
19         6-9   Shimanoumi  M15      Shohozan    5-10 ↓
20    2-3-10 ↓  Kyokutaisei  M16      Hoshoryu       8-7
21         8-7     Ichinojo  M17           NaN       NaN