# Grab data with scrapeing modules and save locally for cleaning and processin

In [2]:
import pandas as pd

In [3]:
%load_ext autoreload

In [4]:
%autoreload 2

In [5]:
import scrape_banzuke as sb

In [8]:
df_2020 = sb.scrape_year(2020)
df_2020.info()

http://sumodb.sumogames.de/Banzuke_text.aspx?b=202001
http://sumodb.sumogames.de/Banzuke_text.aspx?b=202003
http://sumodb.sumogames.de/Banzuke_text.aspx?b=202007
http://sumodb.sumogames.de/Banzuke_text.aspx?b=202009
http://sumodb.sumogames.de/Banzuke_text.aspx?b=202011
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   rank       350 non-null    object
 1   name       350 non-null    object
 2   pob        350 non-null    object
 3   stable     350 non-null    object
 4   birthdate  350 non-null    object
 5   height     350 non-null    object
 6   weight     350 non-null    object
 7   year       350 non-null    int64
 8   month      350 non-null    object
dtypes: int64(1), object(8)
memory usage: 24.7+ KB

In [9]:
df_2021 = sb.scrape_year(2021)
df_2021.info()

http://sumodb.sumogames.de/Banzuke_text.aspx?b=202101
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   rank       70 non-null     object
 1   name       70 non-null     object
 2   pob        70 non-null     object
 3   stable     70 non-null     object
 4   birthdate  70 non-null     object
 5   height     70 non-null     object
 6   weight     70 non-null     object
 7   year       70 non-null     int64
 8   month      70 non-null     object
dtypes: int64(1), object(8)
memory usage: 5.0+ KB

In [11]:
to_save = pd.concat([df_2021, df_2020])
to_save.to_csv('banzuke_raw.csv')
to_save.head()

,rank,name,pob,stable,birthdate,height,weight,year,month
0,Y1e,Hakuho,Mongolia,Miyagino,11.03.1985,193,150.7,2021,01
1,Y1w,Kakuryu,Mongolia,Michinoku,10.08.1985,186,150,2021,01
2,O1e,Takakeisho,Hyogo,Tokiwayama,05.08.1996,173,149,2021,01
3,O1w,Shodai,Kumamoto,Tokitsukaze,05.11.1991,182,150,2021,01
4,O2e,Asanoyama,Toyama,Takasago,01.03.1994,189,158,2021,01