# Evaluate model from exploration phase

From the exploration notebook we discovered a high degree of linearity between prvious rank and next rank (in absolute terms)

- our model had a R^2 value of 94%

- Now to evaulate our criteria we need to compare to the banzuke of jan 2021 to our model's prediction

## Tasks

- get Jan 2021 data
    - put into absolute form
- predict jan 2021

- calculate accuracy score
- compare Makuuchi side by side

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
%load_ext autoreload
%autoreload 2

In [16]:
import scrape_banzuke as sb
import process_banzuke as pb

In [14]:
bz = sb.scrape_year(2018)

http://sumodb.sumogames.de/Banzuke_text.aspx?b=201801
http://sumodb.sumogames.de/Banzuke_text.aspx?b=201803
http://sumodb.sumogames.de/Banzuke_text.aspx?b=201805
http://sumodb.sumogames.de/Banzuke_text.aspx?b=201807
http://sumodb.sumogames.de/Banzuke_text.aspx?b=201809
http://sumodb.sumogames.de/Banzuke_text.aspx?b=201811

In [15]:
bn = sb.scrape_year(2021)
bn

http://sumodb.sumogames.de/Banzuke_text.aspx?b=202101

,rank,name,pob,stable,birthdate,height,weight,year,month
0,Y1e,Hakuho,Mongolia,Miyagino,11.03.1985,193,150.7,2021,01
1,Y1w,Kakuryu,Mongolia,Michinoku,10.08.1985,186,150,2021,01
2,O1e,Takakeisho,Hyogo,Tokiwayama,05.08.1996,173,149,2021,01
3,O1w,Shodai,Kumamoto,Tokitsukaze,05.11.1991,182,150,2021,01
4,O2e,Asanoyama,Toyama,Takasago,01.03.1994,189,158,2021,01
...,...,...,...,...,...,...,...,...,...
23,J12w,Takagenji,Tochigi,Tokiwayama,13.05.1997,186,126.2,2021,01
24,J13e,Ikioi,Osaka,Isenoumi,11.10.1986,194,157,2021,01
25,J13w,Yago,Hokkaido,Oguruma,08.07.1994,187,172,2021,01
26,J14e,Ryuko,Kumamoto,Onoe,23.06.1998,180,126,2021,01
27,J14w,Tohakuryu,Tokyo,Tamanoi,17.04.1996,181,128,2021,01

In [17]:
bn = pb.extract_ranks(bn)
bn

,rank,name,pob,stable,birthdate,height,weight,year,month,tier_rank,num_rank,is_east
0,Y1e,Hakuho,Mongolia,Miyagino,11.03.1985,193,150.7,2021,01,1,1.0,True
1,Y1w,Kakuryu,Mongolia,Michinoku,10.08.1985,186,150,2021,01,1,1.0,False
2,O1e,Takakeisho,Hyogo,Tokiwayama,05.08.1996,173,149,2021,01,2,1.0,True
3,O1w,Shodai,Kumamoto,Tokitsukaze,05.11.1991,182,150,2021,01,2,1.0,False
4,O2e,Asanoyama,Toyama,Takasago,01.03.1994,189,158,2021,01,2,2.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...
23,J12w,Takagenji,Tochigi,Tokiwayama,13.05.1997,186,126.2,2021,01,6,12.0,False
24,J13e,Ikioi,Osaka,Isenoumi,11.10.1986,194,157,2021,01,6,13.0,True
25,J13w,Yago,Hokkaido,Oguruma,08.07.1994,187,172,2021,01,6,13.0,False
26,J14e,Ryuko,Kumamoto,Onoe,23.06.1998,180,126,2021,01,6,14.0,True
27,J14w,Tohakuryu,Tokyo,Tamanoi,17.04.1996,181,128,2021,01,6,14.0,False